:root{
    --darker: #325f25;
    --dark: #609966;
    --light: #EDF1D6;
    --lighter: #FFFFFF;
}

body{
    margin: 0;
}

nav{
    background-color: var(--dark);
    color: var(--lighter);
    padding: 1%;
    text-align: center;
}

button{
    background-color: var(--dark);
    color: var(--lighter);
    padding: 1%;
    border: 0;
    outline: 0;
    border-radius: 5px;
    text-align: center;
    margin: 3%;
    cursor: pointer;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 80%;
}

#chartSelector{
    display:none;
    margin: 3% auto;
    outline: 0;
    border: 0;
    padding: 1%;
    background-color: var(--light);
    border-radius: 10px;
}

.charts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.node {
    width: 90%;
    height: 500px;
    display: flex;
    color: #325f25;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer, .formContainer>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer{
    min-height: 100vh;
}

.formContainer>form{
    padding: 2%;
    background-color: var(--light);
    color: var(--darker);
}

.formContainer>form input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--darker);
    outline: 0;
    margin: 3%;
    padding: 1%;
    background-color: var(--light);
    font-size: 1rem;
}

.formContainer>form button{
    padding: 3%;
}
